body {
    background-color: black;
    text-align: center;
    /* background-size: cover; to add after background image*/
    overflow: hidden;
    perspective: 50px;
}

article h1 {
    font-size: 50px;
    font-weight: bold;
    color: yellow;
    margin: 100px;
}

article p {
    color: yellow;
    text-align: justify;
    
}